body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: normal;
}

.resume-section h1 {
  font-size: 20px;
}

.resume-section .position .title {
  font-size: 18px;
}

.resume-section .position .employer {
  font-size: 14px
}

.resume-section .position .time {
  font-size: 14px;
}