body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: normal;
}

.resume {
  margin: 0 auto;
  padding: 50px 250px 0 250px;
}

.resume-section h1 {
  margin-top: 40px;
  font-size: 20px;
  border-bottom: 3px black solid;
}

header h1 {
	font-size: 28px;
}

.resume-section .position .title {
  font-size: 18px;
}

.resume-section .position .employer {
  font-size: 14px
}

.resume-section .position .time {
  font-size: 14px;
}

.award {
	margin-bottom: 12px;
}

.award .description {
	font-style: italic;
}

footer {
  text-align: center;
	margin-top: 50px;
  margin-bottom: 25px;
}
