body {
  padding: 0;
  margin: 0;
  font: 16px/1.5 Helvetica, Arial, sans-serif;
  color: #555;
  background-color: #efefef;
  font-weight: normal;
}

header {
  font-size: 20px;
}

#hello {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0;
}

.tagline {
  font-size: 32px;
  font-weight: 400;
  margin-top: -20px;
}

a {
  text-decoration: none;
  box-shadow: inset 0 -4px 0 lightgray;
  color: #555;
  margin: 0;
}

a:hover {
  background-color: lightgray;
}

.latin {
  font-style: italic;
}

.resume {
  margin: 0 auto;
  width: 600px;
}

.resume-section h1 {
  margin-top: 48px;
  font-size: 24px;
}

#skills ul {
  display: flex;
  flex-flow: row wrap;
}

#skills ul li {
  list-style: none;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#skills ul li:before {
  content: "";
}

.resume-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resume-section ul li {
  margin-bottom: 6px;
}

.resume-section ul li:before {
  content: "›";
  margin-left: -15px;
  margin-right: 10px;
}

header h1 {
	font-size: 28px;
}

.resume-section .position .title-location-duration {
  margin-top: 32px;
  margin-bottom: 10px;
}

.resume-section .position .title-location-duration {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.resume-section .position .title {
  font-size: 20px;
}

.award {
	margin-bottom: 12px;
}

.award .description {
	font-style: italic;
}

footer {
  text-align: center;
	margin-top: 50px;
  margin-bottom: 25px;
}
